# Visual Studio temp
.vs/
*.user
*.suo
*.cache
*.dbmdl
*.bak
*.backup
*.log

# Build output
bin/
obj/

# EF Core Migrations snapshot (keep migrations, ignore model snapshot if needed)
*.db

# Local settings
appsettings.Development.json
